In [1]:
print("hello")

hello

In [2]:
str="Jupyter"

In [3]:
print(str)

Jupyter

In [4]:
a=2
print(a)

2

In [6]:
n1=5
n2=6
sum=n1+n2
print(sum)

11

In [23]:
n1=5
n2=6
sum=n1+n2
print("sum=",sum)

sum= 11

In [7]:
a=3
b=7
a=a+b
b=a-b
a=a-b
print(a)
print(b)

7
3

In [21]:
def check(lang):
    if lang=="eng":
        print("English")
    elif lang=="hin":
        print("Hindi")
    else:
        print("Other language")
lang=input("Enter the language :")
check(lang)

Enter the language :span
Other language

In [9]:
check("eng")

Enter the language :eng
English

In [10]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
def calc(a,b,op):
    if op=="+":
        print(a+b)
    elif op=="-":
        print(a-b)
    elif op=="*":
        print(a*b)
    elif op=="/":
        print(a/b)
    elif op=="%":
        print(a-b)
    else:
        print("Invalid operator")
a=int(input("Enter the 1st number:"))
b=int(input("Enter the 2nd number:"))
op=input("Enter the operand:")
calc(a,b,op)

Enter the 1st number:2
Enter the 2nd number:3
Enter the operand:*
6

In [22]:
a=10
if a<20:
    print("success")
else:
    print("failure")

success

In [24]:
def concat(str1,str2):
    print("concatenated string : ",str1+str2)
str1=input("Enter the 1st String:")
str2=input("Enter the 2nd String:")
concat(str1,str2)

Enter the 1st String:ML
Enter the 2nd String:LAB
concatenated string :  ML LAB

In [27]:
def compare(str1,str2):
    if str1.lower()==str2.lower():
        print("strings are equal")
    elif str1.lower()>str2.lower():
        print("First string is greater")
    else:
        print("Second string is greater")
str1=input("Enter the 1st String:")
str2=input("Enter the 2nd String:")
compare(str1,str2)

Enter the 1st String:nine
Enter the 2nd String:eight
First string is greater

In [30]:
def reverse(str):
    rev=""
    for i in str:
        rev=i+rev
    print("Reversed string :",rev)

In [31]:
reverse("machine")

Reversed string : enihcam

In [32]:
def reverse(str):
    print(str[::-1])

In [33]:
reverse("hello")

olleh

In [34]:
def copy(str1):
    str2=str1
    print("string copied is :",str2)

In [35]:
copy("strcopy")

string copied is : strcopy

In [39]:
a=[1,2,3,4,5,6,7,8,9,10]
b=slice(0,9,2)
print(a[b])

[1, 3, 5, 7, 9]

In [38]:
b

slice(0, 9, 2)

In [40]:
l1=[10,20,30,40,50]
l1[2]=50
l1[2]

50

In [41]:
l1[1:3]

[20, 50]

In [42]:
l1.append(60)
l1

[10, 20, 50, 40, 50, 60]

In [43]:
l1.pop()

60

In [44]:
l1

[10, 20, 50, 40, 50]

In [62]:
l1.remove(50)
l1

[10, 20, 40, 10, 'hello', 78.34]

In [46]:
l1

[10, 20, 40, 50]

In [47]:
l2=[10,"hello",78.34]
for i in l2:
    print(i)

10
hello
78.34

In [49]:
t=(4,"ml",7.77)
t

(4, 'ml', 7.77)

In [52]:
l2[-1]

78.34

In [53]:
l1.extend(l2)

In [54]:
l1

[10, 20, 40, 50, 10, 'hello', 78.34]

In [63]:
d={"name":"Faizah","age":21,"place":"blore"}
d

{'name': 'Faizah', 'age': 21, 'place': 'blore'}

In [59]:
d

{'name': 'Faizah', 'age': 21, 'place': 'blore'}

In [61]:
d['name']

'Faizah'

In [64]:
t=("Jomonkey",[1,2,3],(2,9))
t

('Jomonkey', [1, 2, 3], (2, 9))

In [65]:
dict={"one":"hello","two":"bonjour",3:"welcome"}
dict['one']

'hello'

In [72]:
for key,value in dict.items():
    print(key,value)

one hello
two bonjour
3 welcome